@import '@styles/components';

.lottery-page {
  .button-icon {
    button {
      @apply flex items-center w-[350px] justify-center mx-auto;

      &:not(:disabled) {
        @extend .button-high-light;
      }
    }
  }

  .countdown-unit {
    @apply w-16 h-16 text-center bg-[#1677ff]/10 pt-1.5 rounded-lg;

    .ant-typography:first-child {
      @apply text-xl font-semibold;
    }
  }

  .current-pool {
    background: linear-gradient(90deg, $color-primary, #f947d2, #fedc6f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: gradient 10s ease-in-out infinite alternate;
  }
}
