@import 'variables';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-high-light {
  background: linear-gradient(90deg, $color-primary, #f947d2, #fedc6f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
