body,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0px !important;
}

div {
  box-sizing: border-box;
}

.ant-typography {
  margin-bottom: 0px !important;
}
