//Screen
$max-width-layout: 1920px;
$min-width-screen-xl: 1536px;
$max-screen-lg: 1200px;
$max-screen-md: 992px;
$max-screen-xs: 576px;

//Color
$color-text-light:rgba(0, 0, 0, 0.88);
$color-primary: #1668dc;
$color-bg-light: #f4f6ff;
$color-bg-light-hover: #f0f1f6;
$color-bg-dark: #06070a;

:root {
  --color-text: #{$color-text-light};
  --color-primary: #{$color-primary};
  --color-bg-light: #{$color-bg-light};
  --color-bg-light-hover: #{$color-bg-light-hover};
  --color-bg-dark: #{$color-bg-dark};
}