@tailwind utilities;
@tailwind base;
@tailwind components;
@import 'reset';
@import 'variables';
@import 'components';

body {
  margin: 0;
  min-width: $max-screen-xs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;

  @media only screen and (max-width: $max-screen-lg) {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
